<mat-drawer-container autosize [hasBackdrop]="true">
  <mat-drawer
    class="sidenav"
    mode="side"
    position="end"
    [opened]="menuOpen$ | async"
    (openedChange)="setMenuOpen($event)"
    ><p>
      Hello {{ currentUser?.charAt(0)?.toUpperCase()
      }}{{ currentUser?.slice(1) }}
    </p>
    <button mat-button>Stats</button>
    <button mat-button (click)="this.logOut()">Log Out</button>
  </mat-drawer>
  <mat-drawer-content id="page">
    <div class="container">
      <app-header></app-header>
      <mat-tab-group mat-align-tabs="center" [backgroundColor]="'primary'">
        <mat-tab label="Previous Matches"> <app-matches></app-matches> </mat-tab>
        <mat-tab label="Weekly"> <app-scoreboard [type] = "0" ></app-scoreboard> </mat-tab>
        <mat-tab label="Monthly"><app-scoreboard [type] = "1" ></app-scoreboard> </mat-tab>
        <mat-tab label="All time"><app-scoreboard [type] = "2" ></app-scoreboard></mat-tab>
      </mat-tab-group>
    </div>
  </mat-drawer-content>

  <router-outlet></router-outlet>
</mat-drawer-container>
