<mat-drawer-container autosize [hasBackdrop]="true">
  <mat-drawer
    class="sidenav"
    mode="side"
    position="end"
    [opened]="menuOpen$ | async"
    (openedChange)="setMenuOpen($event)"
    ><p>
      Hello {{ currentUser?.charAt(0)?.toUpperCase()
      }}{{ currentUser?.slice(1) }}
    </p>
    <button mat-button>Stats</button>
    <button mat-button (click)="this.logOut()">Log Out</button>
  </mat-drawer>
  <mat-drawer-content>
    <div class="container">
      <app-header></app-header>
      <h2>Previous Matches:</h2>
      <app-matches></app-matches>
    </div>
  </mat-drawer-content>

  <router-outlet></router-outlet>
</mat-drawer-container>
