<h1 mat-dialog-title>Register a new match</h1>
<div
  mat-dialog-content
  style="display: flex; flex-direction: row; justify-content: space-evenly"
>
  <p>Please write name of the winner and the loser</p>

  <mat-form-field apperance="fill" style="width: 100px">
    <mat-label> Winner</mat-label>
    <input matInput [(ngModel)]="winner" />
  </mat-form-field>
  <mat-form-field apperance="fill" style="width: 100px">
    <mat-label> Loser</mat-label>
    <input matInput [(ngModel)]="loser" />
  </mat-form-field>
</div>
